body {
  width: 290px;
  margin: auto;
  display: flex;
}

.Post {
  margin: 12px 12px;
  padding: 12px 20px;
  border: 1px solid gray;
  border-radius: 2%;
}

.Post__Image {
  max-width: 250px;
}

a {
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}

.inputError {
  color: red;
  font-size: 0.7em;
}
